@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* --yellow: rgb(250, 206, 57); */
    --dark-green: rgb(38, 111, 69);
    --green: rgb(200, 230, 201);
    --light-green: rgb(240, 250, 240);
}

body {
    font-family: 'Playfair Display', serif;
    background-color: whitesmoke;
}
